* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
}

.img-box {
    max-width: 450px;
}

.image {
    width: 100%;
    border-radius: 16px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}